html, body {
  height:100%;
  margin:0;
  color:white;
  background-color: #fff;
}

body {
  background-color:white;
}

h1, h2, h4 {
  font-family:"futura-pt", "Helvetica", sans-serif;
  font-weight:700;
}

a, a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition:opacity 500ms;
  font-weight:bold;
}

a:hover {
  opacity:0.5;
}

#motion {
  position:fixed;
  top:0;
  left:0;
  -webkit-transition: -webkit-transform 750ms;
  -webkit-transform: translate3d(0px, 0px, 0px);
  height:100%;
  width:100%;
  min-width:800px;
}

#motion.prologue {
  -webkit-transform:translate3d(0px, -100%, 0px);
}

#motion.songs {
  -webkit-transform:translate3d(0px, -200%, 0px);
}

#motion.epilogue {
  -webkit-transform:translate3d(0px, -300%, 0px);
}

#cover {
  position:absolute;
  top:0;
  left:0;
  background-color:black;
  background-image: url('../img/cover.jpg');
  background-size: cover;
  background-position: right center;
  height:100%;
  width:100%;
}

#cover.can_continue {
  cursor:pointer;
}

#cover.can_continue p {
  opacity: 1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #cover {
    background-image: url('../img/cover_2x.jpg');
  }
}

#cover h1 {
  position:absolute;
  font-size:72px;
  margin:0;
  padding:0;
  top:20px;
  right:20px;
  text-shadow:1px -1px 0px rgba(127,127,127,0.5);
  text-align:right;
  color:black;
  font-weight:700;
}

#cover h2 {
  position:absolute;
  font-size:48px;
  margin:0;
  padding:0;
  bottom:20px;
  right:20px;
  color:#d5e2e6;
  text-shadow:1px 1px 0px #9d8f99;
  text-align:right;
  font-weight:300;
}

#cover p {
  position:absolute;
  font-family: minion-pro, sans-serif;
  margin:0;
  bottom:26px;
  left:20px;
  font-style:italic;
  font-size:16px;
  opacity:0.3;
  -webkit-transition:opacity 1s;
}

#prologue {
  position:absolute;
  top:100%;
  left:0;
  height:100%;
  width:100%;
  background-color:#333;
}

#note_shift {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

#liner_notes {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  box-sizing:border-box;
  padding:20px 20px 120px 20px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#liner_notes .avoid {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

#prologue_controls {
  position:absolute;
  left:0;
  bottom:0;
  height:100px;
  width:100%;
  text-align:center;
}

#prologue_controls a.play {
  display:inline-block;
  font-size:60px;
  background-color:white;
  color:#333;
  border-radius:40px;
  padding: 6px 8px 0px 18px;
  margin-bottom:20px;
  -webkit-transition:background-color 500ms;
  -moz-transition:background-color 500ms;
  transition:background-color 500ms;
  text-decoration:none;
}

#prologue_controls .volume_up,
#prologue_controls .headphones_on {
  font-family:futura-pt, Helvetica;
  position:absolute;
  font-size:48px;
  line-height:100px;
  top:-14px;
  color:#3b3b3b;
  font-weight:300;
}

#prologue_controls .volume_up {
  left:50%;
  margin-left:80px;
  text-align:left;
}

#prologue_controls .headphones_on {
  right:50%;
  margin-right:80px;
  text-align:right;
}

#prologue_controls a.play:hover {
  background-color:#ccc;
}


#prologue h2 {
  padding:0;
  margin:0;
  font-size:24px;
  cursor:pointer;
}

#prologue h3 {
  padding:0;
  font-family: 'minion-pro';
  margin:16px 0 16px 0;
  font-size:18px;
  font-weight:normal;
  font-style:italic;
}

#prologue h4 {
  font-size:18px;
  margin:0 0 16px 0;
}

#song_container {
  position:absolute;
  top:200%;
  left:0;
  height:100%;
  width:100%;
  background-color:#CC0033;
  -webkit-transition:background-color 1s;
  -moz-transition:background-color 1s;
  transition:background-color 1s;
}

#song_container.T02_AmenitiesExtremities {
  background-color:#0099FF;
}

#song_container.T03_BluntTrauma {
  background-color:#006633;
}

#song_container.T04_CircleCity {
  background-color:#330099;
}

#song_container.T05_Fusebox {
  background-color:#222;
}

#song_container.T06_WanderingAndWondering {
  background-color:#CC9933;
}

#songs {
  position: absolute;
  top:0;
  left:0;
  -webkit-transition-duration: 200ms;
}

span.word {
  color: white;
  display: inline-block;
}

span.word.active {
  text-decoration:underline;
}

span.word:hover {
  cursor: pointer;
  opacity:0.7;
}

p {
  font-family: 'minion-pro';
  font-size:16px;
  margin:0 0 1em 0;
  line-height:1.25em;
}

div.break {
  line-height:2em;
  text-align:center;
  margin-top:-16px;
}

ul#songs {
  list-style:none;
  margin:0;
}

#song_container #menu {
  position:absolute;
  top:20px;
  right:20px;
  padding:10px;
  z-index:2;
  width:200px;
  text-align:right;
  font-family:minion-pro, serif;
}

#song_container #menu .media_controls a {
  display:inline-block;
  text-decoration:none;
  color:white;
  height:20px;
  margin-left:20px;
}

#song_container #menu .media_controls a:hover {
  opacity:0.7;
}

#menu #prev {
  border-left:4px solid white;
  padding-left:1px;
}

#menu #prev div {
  width:0;
  height:0;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid white;
}

#menu #pp .pause {
  width:4px;
  border-left:6px solid white;
  border-right:6px solid white;
  height:20px;
}

#menu #pp .play {
  width:0;
  height:0;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-left:10px solid white;
}

#menu #next {
  border-right:4px solid white;
  padding-right:1px;
}

#menu #next div {
  width:0;
  height:0;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-left:10px solid white;
}

#menu #pp.play .pause {
  display:none;
}

#menu #pp.pause .play {
  display:none;
}

#song_container #menu .media_controls a#more_menu {
  position:relative;
  border:1px solid white;
  border-radius:3px;
  height:23px;
  width:24px;
  box-sizing:border-box;
  margin-bottom:-2px;
}

#menu #more_menu div {
  position:absolute;
  width:16px;
  height:3px;
  border-radius:1px;
  background-color:white;
}

#menu #more_menu .top {
  top:3px;
  left:3px;
}

#menu #more_menu .mid {
  top:9px;
  left:3px;
}

#menu #more_menu .bot {
  bottom:3px;
  left:3px;
}

#menu #more_menu.open {
  opacity:0.45;
}

#menu a#more_menu.open:hover {
  opacity:0.55;
}

#menu #extended_menu.hidden {
  opacity:0;
  -webkit-transform: translateX(10px);
  cursor:default !important;
}

#menu #extended_menu {
  opacity:1;
  -webkit-transition: all 300ms;
  -webkit-transform: translateX(0px);
}

iframe.twitter-follow-button {
  position:relative;
  top:4px;
}

#epilogue {
  position:absolute;
  top:300%;
  left:0;
  height:100%;
  width:100%;
  background-color:#333;
}

#epilogue .fin {
  position:absolute;
  bottom:50%;
  left:0;
  font-size:100px;
  line-height:100px;
  text-align:center;
  font-family:minion-pro, serif;
  font-style:italic;
  width:100%;
}

#epilogue .enjoy {
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
  line-height:20px;
  margin-top:20px;
  font-style:italic;
}

#epilogue .extras {
  position:absolute;
  top:50%;
  right:50%;
  margin-right:10px;
  margin-top:50px;
  text-align:right;
}

#epilogue .extras p {
  line-height:1.45em;
}

#epilogue .social {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:10px;
  margin-top:50px;
  text-align:left;
}
