html, body {
  height:100%;
  margin:0;
  color:white;
  background-color: #fff;
}

body {
  background-color:white;
}

h1, h2, h4 {
  font-family:"futura-pt", "Helvetica", sans-serif;
  font-weight:700;
}

#motion {
  position:fixed;
  top:0;
  left:0;
  -webkit-transition: -webkit-transform 750ms;
  -webkit-transform: translate3d(0px, 0px, 0px);
  height:100%;
  width:100%;
}

#motion.prologue {
  -webkit-transform:translate3d(0px, -100%, 0px);
}

#motion.songs {
  -webkit-transform:translate3d(0px, -200%, 0px);
}

#cover {
  position:absolute;
  top:0;
  left:0;
  background-color:black;
  background-image: url('../img/cover.jpg');
  background-size: cover;
  background-position: right center;
  height:100%;
  width:100%;
}

#cover.can_continue {
  cursor:pointer;
}

#cover.can_continue p {
  opacity: 1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #cover {
    background-image: url('../img/cover_2x.jpg');
  }
}

#cover h1 {
  position:absolute;
  font-size:72px;
  margin:0;
  padding:0;
  top:20px;
  right:20px;
  text-shadow:1px -1px 0px rgba(127,127,127,0.5);
  text-align:right;
  color:black;
  font-weight:700;
}

#cover h2 {
  position:absolute;
  font-size:48px;
  margin:0;
  padding:0;
  bottom:20px;
  right:20px;
  color:#d5e2e6;
  text-shadow:1px 1px 0px #9d8f99;
  text-align:right;
  font-weight:300;
}

#cover p {
  position:absolute;
  font-family: minion-pro, sans-serif;
  margin:0;
  bottom:26px;
  left:20px;
  font-style:italic;
  font-size:16px;
  opacity:0;
  -webkit-transition:opacity 1s;
}

#prologue {
  position:absolute;
  top:100%;
  left:0;
  height:100%;
  width:100%;
  box-sizing:border-box;
  padding:20px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  background-color:#333;
}

#prologue h2 {
  padding:0;
  margin:0;
  font-size:24px;
}

#prologue h3 {
  padding:0;
  font-family: 'minion-pro';
  margin:16px 0 16px 0;
  font-size:18px;
  font-weight:normal;
  font-style:italic;
}

#prologue h4 {
  font-size:18px;
  margin:0 0 16px 0;
}

#song_container {
  position:absolute;
  top:200%;
  left:0;
  height:100%;
  width:100%;
  background-color:#CC0033;
}

#songs {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transition-duration: 200ms;
}

span.word {
  color: white;
  display: inline-block;
}

span.word.active {
  text-decoration:underline;
}

span.word:hover {
  color: pink;
  cursor: pointer;
}

p {
  font-family: 'minion-pro';
  font-size:16px;
  margin:0 0 1em 0;
  line-height:1.25em;
}

div.break {
  line-height:2em;
  text-align:center;
  margin-top:-16px;
}

ul#songs {
  list-style:none;
  margin:0;
}

#menu {
  position:fixed;
  top:0;
  right:0;
  padding:10px;
  z-index:2;
}
